<!DOCTYPE html>
<html lang="zh-cmn-Hans" class="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <title>解忧杂货店 短评</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2005 01:00:00 GMT">
    
    <meta name="keywords" content="解忧杂货店,影讯,排片,放映时间,电影票价,在线购票"/>
    <meta name="description" content="解忧杂货店短评" />
    <meta name="mobile-agent" content="format=html5; url=http://m.douban.com/movie/subject/26654146/comments"/>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/77323ae72a612bba8b65f845491513ff3329b1bb/js/do.js" data-cfg-autoload="false"></script>

    <link rel="apple-touch-icon" href="https://img3.doubanio.com/f/movie/d59b2715fdea4968a450ee5f6c95c7d7a2030065/pics/movie/apple-touch-icon.png">
    <link href="https://img3.doubanio.com/f/shire/420c6a4b676c73bc6af48dfcdd18b662f5c223d7/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/shire/ae3f5a3e3085968370b1fc63afcecb22d3284848/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img3.doubanio.com/f/movie/8864d3756094f5272d3c93e30ee2e324665855b0/css/movie/base/init.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/movie/0495cb173e298c28593766009c7b0a953246c5b5/js/movie/lib/jquery.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/1efae2c2d48b407a9bed76b9dd5dd8de37a8dbe1/js/douban.js"></script>
    <script type="text/javascript" src="https://img3.doubanio.com/f/shire/0efdc63b77f895eaf85281fb0e44d435c6239a3f/js/separation/_all.js"></script>
    
    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img3.doubanio.com/misc/mixed_static/7b8343ab049bef85.css">

    <link rel="shortcut icon" href="https://img3.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <ul>
    <li>
    <a id="top-nav-doumail-link" href="https://www.douban.com/doumail/">豆邮</a>
    </li>
    <li class="nav-user-account">
      <a target="_blank" href="https://www.douban.com/accounts/" class="bn-more">
        <span>wendiven的帐号</span><span class="arrow"></span>
      </a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://www.douban.com/mine/">个人主页</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/orders/">我的订单</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/mine/wallet/">我的钱包</a>
              </td>
            </tr>
            <tr>
              <td>
                <a target="_blank" href="https://www.douban.com/accounts/">帐号管理</a>
              </td>
            </tr>
            <tr>
              <td>
                <a href="https://www.douban.com/accounts/logout?source=movie&ck=HDa4">退出</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  <div class="top-nav-reminder">
    <a href="https://www.douban.com/notification/" class="lnk-remind">提醒</a>
    <div id="top-nav-notimenu" class="more-items">
      <div class="bd">
        <p>加载中...</p>
      </div>
    </div>
  </div>

    
<div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="slogan">我们的精神角落</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
    <div id="doubanapp-tip">
      <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 5.0 全新发布</a>
      <a href="javascript: void 0;" class="tip-close">×</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;53896980&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;53896980&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;53896980&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;53896980&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;53896980&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;53896980&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;53896980&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://douban.fm&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;53896980&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;53896980&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;53896980&quot;}">市集</a>
    </li>
    <li>
      <a href="#more" class="bn-more"><span>更多</span></a>
      <div class="more-items">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            <tr>
              <td>
                <a href="https://ypy.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-ypy&quot;,&quot;uid&quot;:&quot;53896980&quot;}">豆瓣摄影</a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    USER_ID: "53896980",
    UPLOAD_AUTH_TOKEN: "53896980:ed2681ca1a514d1e903efadca97de02940e565e8",
    SSE_TOKEN: "eac5c0c89a3970130f48462963912eaf789c37b0",
    SSE_TIMESTAMP: "1515067586",
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/321e246/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/094108a/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;movie.douban.com/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/mine"
     >我看</a>
    </li>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/tag/"
     >分类</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2017?source=navigation"
     >2017年度榜单</a>
    </li>
    <li    ><a href="https://movie.douban.com/standbyme/2017?source=navigation"
     >2017观影报告</a>
    </li>
  </ul>
</div>

  </div>
    <a href="https://movie.douban.com/annual/2017?source=patch" class="movieannual2017"></a>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/094108a/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>解忧杂货店 短评</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
    



<div class="clearfix Comments-hd">
    <ul class="fleft CommentTabs">
            <li class="is-active">
                <span>看过(18160)</span>
            </li>

            <li>
                <a href="?status=F">想看(2042)</a>
            </li>
    </ul>
    <div class="fright">
        <a href="javascript:;" class="comment_btn j a_collect_btn" name="cbtn-26654146">我来写短评</a>
    </div>
</div>

    
    <div class="title_line clearfix color_gray">
        <div class="fleft Comments-sortby">
                <span>热门</span>
                <a href="?sort=time&status=P">最新</a>
            <a href="follows_comments?status=P">好友</a>
        </div>
    </div>

    <div class="comment-filter">
        <label>
            <input type="radio" name="sort" value=""  checked="checked"><span class="filter-name">全部</span><span class="comment-percent"></span>
        </label>
        <label>
            <input type="radio" name="sort" value="h" ><span class="filter-name">好评</span><span class="comment-percent">51%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="m" ><span class="filter-name">一般</span><span class="comment-percent">16%</span>
        </label>
        <label>
            <input type="radio" name="sort" value="l" ><span class="filter-name">差评</span><span class="comment-percent">33%</span>
        </label>
    </div>

    <div class="mod-bd" id="comments">
        







    
        
        <div class="comment-item" data-cid="1295007205">
            
    
        <div class="avatar">
            <a title="结冰" href="https://www.douban.com/people/caiyanbin/">
                <img src="https://img3.doubanio.com/icon/u44203357-95.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">3013</span>
                <input value="1295007205" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/caiyanbin/" class="">结冰</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-28 22:33:05">
                    2017-12-28
                </span>
            </span>
        </h3>
        <p class=""> 韩杰、宋啸、朱思溢、孙思雨、韩寒、你们这几个人好好反思反思，你们才是这部片子的罪魁祸首。王俊凯迪丽热巴纵使演技不好，也不是这部片子烂掉的最直接最主要的原因。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1295230041">
            
    
        <div class="avatar">
            <a title="桃桃淘电影" href="https://www.douban.com/people/qijiuzhiyue/">
                <img src="https://img3.doubanio.com/icon/u1032989-50.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">2191</span>
                <input value="1295230041" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/qijiuzhiyue/" class="">桃桃淘电影</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-29 07:38:15">
                    2017-12-29
                </span>
            </span>
        </h3>
        <p class=""> 如果说日版拍出原书50%的水平，那这一版又在日版上再打个对折。要说多烂多雷也不至于，而是平庸，毫无才华的平庸，真是让人失望。同时，问题显然不光出在几个流量明星上面，因为那些成名演员的表现同样让人失望。真是白瞎了这么好一个故事，平庸乏味温吞水，毫无亮点的东西。化妆也是要命，搞得好丑
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1293492189">
            
    
        <div class="avatar">
            <a title="扭腰客" href="https://www.douban.com/people/mlsslm777/">
                <img src="https://img3.doubanio.com/icon/u2603819-295.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">2616</span>
                <input value="1293492189" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/mlsslm777/" class="">扭腰客</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-26 21:37:22">
                    2017-12-26
                </span>
            </span>
        </h3>
        <p class=""> 原著本来就是一本肤浅的鸡汤故事会，再加上所谓的中国特色，不伦不类到浑然天成。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292059406">
            
    
        <div class="avatar">
            <a title="m89" href="https://www.douban.com/people/duzhouchi/">
                <img src="https://img3.doubanio.com/icon/u4896291-25.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">2269</span>
                <input value="1292059406" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/duzhouchi/" class="">m89</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-24 16:48:57">
                    2017-12-24
                </span>
            </span>
        </h3>
        <p class=""> 股神郝蕾，监制韩寒，实至名归的一星。不是亲妈粉的，还是高挂免战牌吧。堪比黄磊老师深夜食堂般的矫揉造作假大空，近两个小时的身心折磨。快点结束吧，我要回家看手撕鬼子…
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292569586">
            
    
        <div class="avatar">
            <a title="白胖饺子" href="https://www.douban.com/people/bpjz/">
                <img src="https://img3.doubanio.com/icon/u25531582-12.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">1726</span>
                <input value="1292569586" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/bpjz/" class="">白胖饺子</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-25 12:25:53">
                    2017-12-25
                </span>
            </span>
        </h3>
        <p class=""> 好久没看到这么硬桥硬马横冲直撞的尬片了。前面的人在玩手机，右边的不时说笑，后排有人哭，左边有人打呼。我因为马上到饭点儿了也不好退场只能忍着恶心看几个流量明星认真矫情到最后一刻。一星祝好。资方下次记得找个至少能独立写完两篇作文的编剧，还有就是注意别让水军清一色的五星，太容易暴露。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292288235">
            
    
        <div class="avatar">
            <a title="朝阳区小百合" href="https://www.douban.com/people/50060410/">
                <img src="https://img1.doubanio.com/icon/u50060410-9.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">1990</span>
                <input value="1292288235" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/50060410/" class="">朝阳区小百合</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-12-24 22:45:50">
                    2017-12-24
                </span>
            </span>
        </h3>
        <p class=""> 比烂片更浪费时间的，就是这种平淡无奇、冗长缓慢、矫揉造作、明星拼贴的鸡汤电影，你们都很励志，你们都有梦想...ok,fine！
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292063611">
            
    
        <div class="avatar">
            <a title="谢谢你们的鱼" href="https://www.douban.com/people/reave/">
                <img src="https://img1.doubanio.com/icon/u1752908-27.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">1606</span>
                <input value="1292063611" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/reave/" class="">谢谢你们的鱼</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-24 16:55:50">
                    2017-12-24
                </span>
            </span>
        </h3>
        <p class=""> 要了命了，感觉喝了几碗过期的毒鸡汤，号称全明星其实所有人的戏份都和客串一样，本质上和《村晚之越来越好》以及《摆渡人》一脉相承，我宁愿看王俊凯、迪丽热巴、董子健三个人聊通宵也不想看中间那几个陈词滥调。哦对，东野圭吾我继续丢你老母。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292075002">
            
    
        <div class="avatar">
            <a title="有意识的贱民" href="https://www.douban.com/people/kejinlong/">
                <img src="https://img3.doubanio.com/icon/u37507203-102.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">1868</span>
                <input value="1292075002" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/kejinlong/" class="">有意识的贱民</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-24 17:15:16">
                    2017-12-24
                </span>
            </span>
        </h3>
        <p class=""> 那我该把信寄给谁？谁来帮我解忧？看完电影满心忧伤，如同平安夜里经历一场寒流，凄凄惨惨戚戚。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1295104527">
            
    
        <div class="avatar">
            <a title="刘十九" href="https://www.douban.com/people/4901199/">
                <img src="https://img1.doubanio.com/icon/u4901199-17.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">1413</span>
                <input value="1295104527" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/4901199/" class="">刘十九</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-29 00:01:59">
                    2017-12-29
                </span>
            </span>
        </h3>
        <p class=""> 这一年从《约会~恋爱究竟是什么呢~》《求婚大作战》《深夜食堂》《嫌疑人X的献身》到年尾的《解忧杂货铺》，日本不错的IP都被糟蹋了一遍。好了，现在你们知道日本影视的逻辑不好本土化了吧，明年就放过吧。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1294037729">
            
    
        <div class="avatar">
            <a title="梦里诗书" href="https://www.douban.com/people/57542378/">
                <img src="https://img3.doubanio.com/icon/u57542378-10.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">1342</span>
                <input value="1294037729" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/57542378/" class="">梦里诗书</a>
                    <span>看过</span>
                    <span class="allstar20 rating" title="较差"></span>
                <span class="comment-time " title="2017-12-27 19:32:45">
                    2017-12-27
                </span>
            </span>
        </h3>
        <p class=""> 根据东野圭吾的奇幻同名小说改编，韩杰所执导的中国版《解忧杂货店》给人带来的只是彻头彻尾的失望，电影在剧情基本忠于原著的框架下，却并没有能做出富含镜头语言的转化，而只是照本宣科的熬出了一锅寡淡无味的鸡汤，凌乱的叙事更是使电影且不谈何般感动，反令“解忧”变成了如坐针毡的忧虑。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1294057735">
            
    
        <div class="avatar">
            <a title="咸鱼罐头🐼" href="https://www.douban.com/people/131264466/">
                <img src="https://img3.doubanio.com/icon/u131264466-34.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">2122</span>
                <input value="1294057735" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/131264466/" class="">咸鱼罐头🐼</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-27 20:07:31">
                    2017-12-27
                </span>
            </span>
        </h3>
        <p class=""> 我能给导演和主演们竖一个中指吗?
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292073049">
            
    
        <div class="avatar">
            <a title="汽车大师" href="https://www.douban.com/people/cantona_x/">
                <img src="https://img3.doubanio.com/icon/u1064115-83.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">1151</span>
                <input value="1292073049" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/cantona_x/" class="">汽车大师</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-24 17:11:38">
                    2017-12-24
                </span>
            </span>
        </h3>
        <p class=""> 一无是处也就罢了，能不能别这么恶心？三段故事都有一个彰显主创品味的小场景：七八岁女孩用酒吧女唱腔演绎心血写就的民谣；秦昊逛胡同心不在焉按镜头；成功人士郝蕾小洋房阳台上高潮般仰望
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1279200017">
            
    
        <div class="avatar">
            <a title="大肌霸" href="https://www.douban.com/people/3109142/">
                <img src="https://img3.doubanio.com/icon/u3109142-23.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">1225</span>
                <input value="1279200017" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/3109142/" class="">大肌霸</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-01 10:20:09">
                    2017-12-01
                </span>
            </span>
        </h3>
        <p class=""> 这是东野圭吾被黑得最惨的一次
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292103654">
            
    
        <div class="avatar">
            <a title="凌睿" href="https://www.douban.com/people/lingrui1995/">
                <img src="https://img3.doubanio.com/icon/u63688511-15.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">679</span>
                <input value="1292103654" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/lingrui1995/" class="">凌睿</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-24 18:08:13">
                    2017-12-24
                </span>
            </span>
        </h3>
        <p class=""> 1.何以解忧，唯有打一星。2.你们竟然说王俊凯、迪丽热巴演技差？这部电影的问题是出在演技上吗？这彻头彻尾都是烂片啊，你就是请奥斯卡影帝来也不能补救。3.想拍一部《寻梦环游记》，结果拍成了《逐梦演艺圈》。4.王俊凯和陈都灵演着演着就吐了，看来电影实在太恶心了。
                
                <a class="source-icon" href="https://www.douban.com/doubanapp/" target="_blank"><img src="https://img3.doubanio.com/f/shire/f62b2d2de3fc4a56d176b01cc3bbd47d2681fb38/pics/comment/android.png" title="发自Android" alt="Android" rel="v:image"/></a>
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292087535">
            
    
        <div class="avatar">
            <a title="西楼尘" href="https://www.douban.com/people/xilouchen/">
                <img src="https://img3.doubanio.com/icon/u49290419-14.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">581</span>
                <input value="1292087535" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/xilouchen/" class="">西楼尘</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-24 17:38:01">
                    2017-12-24
                </span>
            </span>
        </h3>
        <p class=""> 这解忧杂货店是一座凶宅吧，敢往这写信的才叫勇敢。秦朗写信被告知坚持梦想，然后他被烧死了；张默写信被告知要相信家人，然后家破人亡；晴美写信被告知别轻信他人，然后被绑架了。主创眼里的93年只有崔健和杰克逊，17年只有网红和雾霾，如此刻意的符号、灾难的演技、突兀的硬广，如梦想女声一般尴尬。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292101182">
            
    
        <div class="avatar">
            <a title="SELVEN" href="https://www.douban.com/people/SELVEN/">
                <img src="https://img3.doubanio.com/icon/u1666383-355.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">603</span>
                <input value="1292101182" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/SELVEN/" class="">SELVEN</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-24 18:03:31">
                    2017-12-24
                </span>
            </span>
        </h3>
        <p class=""> 30/100 就像黄磊的“深夜食堂”，这种业主“不务正业”的日本社区文化在中国的代入感已经很差了，再嫁接现在电影界弥漫的“回忆90年代”和“空洞的坚持梦想”题材（小学作文水平的故事和逻辑），产生了一个糟糕的结果。“解忧杂货店”看完更忧愁了。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1295245523">
            
    
        <div class="avatar">
            <a title="独自等待" href="https://www.douban.com/people/93898526/">
                <img src="https://img3.doubanio.com/icon/u93898526-16.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">804</span>
                <input value="1295245523" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/93898526/" class="">独自等待</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-29 08:34:12">
                    2017-12-29
                </span>
            </span>
        </h3>
        <p class=""> 电影怎样，自己心里不清楚吗？劝各流量小生的粉丝们低调点吧，别太嚣张
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1290249331">
            
    
        <div class="avatar">
            <a title="你看看！" href="https://www.douban.com/people/53644977/">
                <img src="https://img3.doubanio.com/icon/u53644977-12.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">666</span>
                <input value="1290249331" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/53644977/" class="">你看看！</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-21 21:15:42">
                    2017-12-21
                </span>
            </span>
        </h3>
        <p class=""> 看到郝蕾学会计炒股买房走上人生巅峰我就笑的不行了 小董还是不厚道啊 咋不叫人家多捯饬俩比特币捏
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292034044">
            
    
        <div class="avatar">
            <a title="birds" href="https://www.douban.com/people/yihuiw/">
                <img src="https://img3.doubanio.com/icon/u66186806-36.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">771</span>
                <input value="1292034044" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/yihuiw/" class="">birds</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-24 16:06:11">
                    2017-12-24
                </span>
            </span>
        </h3>
        <p class=""> 为了不得罪书迷、鲜肉粉，我只好把一腔怨言深埋，祈盼星星告我心。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>
        
        <div class="comment-item" data-cid="1292094515">
            
    
        <div class="avatar">
            <a title="锐利修蕊" href="https://www.douban.com/people/ruilixiurui/">
                <img src="https://img3.doubanio.com/icon/u12544519-52.jpg" class="" />
            </a>
        </div>
    <div class="comment">
        <h3>
            
            <span class="comment-vote">
                <span class="votes">643</span>
                <input value="1292094515" type="hidden"/>
                <a href="javascript:;" class="j a_vote_comment">有用</a>
            </span>
            <span class="comment-info">
                <a href="https://www.douban.com/people/ruilixiurui/" class="">锐利修蕊</a>
                    <span>看过</span>
                    <span class="allstar10 rating" title="很差"></span>
                <span class="comment-time " title="2017-12-24 17:51:12">
                    2017-12-24
                </span>
            </span>
        </h3>
        <p class=""> 这哪是解忧杂货店！分明是给人添堵的鬼屋。东野圭吾要是看到成片，不知道会不会后悔写出这个故事。再有就是，拜托国产片不要再用“写信回信”这个梗，来强硬地增添叙事达不到的文艺气息。总之整部片五个字就可以评价：可怕，屎一般。
        </p>
            <a class="js-irrelevant irrelevant" href="javascript:;">这条短评跟影片无关</a>
    </div>

        </div>




    <div class="comments-footer-tips">
        * 影片上映之前的、与影片无关的或包含人身攻击等内容的短评都将有可能被折叠，且评分不计入豆瓣评分。<br/>
        * 短评的排序是将豆瓣成员的投票加权平均计算后的结果，通过算法的调校，更好地反映短评内容的价值。<br/>
    </div>


        <div id="paginator" class="center">
                <span class="first"><< 首页</span>
                <span class="prev">< 前页</span>
                <a href="?start=20&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=" data-page="" class="next">后页 ></a>
        </div>



<script type="text/javascript" src="https://img3.doubanio.com/f/shire/36a62baa48f1971dbb14eab12c12f4e1b0d940ab/js/report_dialog.js"></script>
<link rel="stylesheet" type="text/css" href="https://img3.doubanio.com/f/shire/55b64317192d6f00c03c9ff3e397fe02bfa4437b/css/report_dialog.css" />




        
        
    </div>

            </div>
            <div class="aside">
                

    
<p class="pl2">&gt; <a href="https://movie.douban.com/subject/26654146/">去 解忧杂货店 的页面</a></p>

    <div class="indent">
        









<div class="movie-summary">
        <div class="movie-pic"><a  href="https://movie.douban.com/subject/26654146/" ><img alt="解忧杂货店" title="解忧杂货店" src="https://img3.doubanio.com/view/photo/s_ratio_poster/public/p2503544593.jpg" rel="v:image" width="100px"></a></div>
    <span class="attrs">
        
            
        <p>
            <span class="pl">导演:</span>
                <a  href="https://movie.douban.com/celebrity/1316056/">韩杰</a>
        </p>

        
            
        <p>
            <span class="pl">主演:</span>
                <a  href="https://movie.douban.com/celebrity/1339594/">王俊凯</a> / <a  href="https://movie.douban.com/celebrity/1325127/">迪丽热巴</a> / <a  href="https://movie.douban.com/celebrity/1330472/">董子健</a> / <a  href="https://movie.douban.com/celebrity/1352153/">李鸿其</a> / <a  href="https://movie.douban.com/celebrity/1386029/">董李无忧</a> / <a  href="https://movie.douban.com/celebrity/1054531/">成龙</a> / <a  href="https://movie.douban.com/celebrity/1274463/">秦昊</a> / <a  href="https://movie.douban.com/celebrity/1342249/">陈都灵</a> / <a  href="https://movie.douban.com/celebrity/1042568/">郝蕾</a> / <a  href="https://movie.douban.com/celebrity/1317539/">李梦</a> / <a  href="https://movie.douban.com/celebrity/1196361/">成泰燊</a> / <a  href="https://movie.douban.com/celebrity/1341199/">高华阳</a> / <a  href="https://movie.douban.com/celebrity/1316365/">潘斌龙</a> / <a  href="https://movie.douban.com/celebrity/1386414/">孟慧圆</a>
        </p>

        
            
        <p>
            <span class="pl">类型:</span>
                剧情, 奇幻
        </p>

        
            
        <p>
            <span class="pl">地区:</span>
                中国大陆
        </p>

        
            
        <p>
            <span class="pl">片长:</span>
                109分钟
        </p>

        
            
        <p>
            <span class="pl">上映:</span>
                2017-12-29(中国大陆)
        </p>

        <a  class="trail_link" data-trailer-id="225519" href="https://movie.douban.com/trailer/225519/#content" >预告片</a>
    </span>
</div>



    </div>
    <div id="dale_movie_subject_comments_bottom_right"></div>
    <a href="https://help.douban.com/blackroom">> 豆瓣违规公示</a>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2018 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about?policy=disclaimer">免责声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <script type="text/javascript" src="https://img3.doubanio.com/misc/mixed_static/5d35a125b634bf16.js"></script>
    
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '53896980',
            browserId = 'gnZxL5FkfrQ',
            criteria = '3:/subject/26654146/comments?start=0&amp;limit=20&amp;sort=new_score&amp;status=P&amp;percent_type=',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_comments_bottom_right'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', 'https://img3.doubanio.com/f/adjs/564b2575f3423358f681c8961e67a8b769ac136d/ad.release.js');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>










    

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '1', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      
    

    <!-- sindar21c-docker-->

  <script>_SPLITTEST=''</script>
</body>

</html>



